html,
body {
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: var(--foreground-color);
}

body {
  margin-top: 4rem;
  background-color: var(--background-color);
}

header {
  text-align: center;
  width: 100%;
}

h1,
h2 {
  text-transform: capitalize;
}

:root {
  --foreground-color: #EDEDED;
  --background-color: #171717;
}